* {
  margin: 0;

  font-size: 62.5%;
}

html,
body {
  --lightgray: hsla(240, 9%, 89%);

  height: 100%;

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/mobileBadge.svg) no-repeat center/cover;

  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.ribbon {
  display: none;
}

.container {
  max-width: 250px;

  margin: 0 auto;

  text-align: center;
  color: var(--lightgray);
}

.avatar {
  position: relative;

  margin: 18.4rem auto 0;
}

.avatar span {
  position: absolute;
  z-index: 1;

  top: -15px;
}

.avatar > img {
  width: 16rem;
  height: 18.4rem;

  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  margin-top: 2.4rem;

  font-size: 2.4rem;
}

a {
  margin-top: 0.4rem;

  color: var(--lightgray);
  text-decoration: none;

  display: flex;
  gap: 1.2rem;

  justify-content: center;
}

#githubLogin {
  font-size: 1.6rem;
}

p {
  margin-top: 3.2rem;

  font-size: 1.4rem;
}

ul {
  margin-top: 6.4rem;

  padding: 0;

  display: flex;
  gap: 1.6rem;

  justify-content: center;

  list-style: none;
}
